.app-wrapper{
  display: grid;
  margin: 0 auto;
  width: 1280px;
  grid-template-areas: "h h"
  "n c";
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
}


.content header-img{
  width: 20px;
}
.app-wrapper-dialog{
  
    grid-area: c;
    background-color: greenyellow;
    padding: 10px
  }
  .header_img{
    width: 256px;
  
}